.caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 12rem;
    padding-bottom: 12rem;
    color: #fff;
    text-align: center;
}

.caption h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;

}



.tittleLastPart {
    color: #e66030;

}

.description {
    font-size: 20px;
    color: #fff;
    margin-bottom: 40px;
    margin-top: 30px;
    line-height: 30px;
    font-weight: 300;
}

.buttons {
    height: 50px;
    width: 150px;
    background-color: #e66030;
    color: #fff;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.buttons:hover {
    background-color: #ffffff;
    color: #000;
}

.buttons2 {
    background-color: transparent;
    border: 1px solid #fff;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {

    background: #000000;
    border-radius: 50px;
    background-size: 20px !important;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.icon-bg-width {
    width: 100px;
    height: 100px;
    font-size: 11px;
    border-radius: 50%;
    padding: 25px;
    margin: 0 auto;
    background-color: #202f40;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-left: 15px;
}

.icon-bg-width:hover {
    background-color: #EF6331;
    transform: scale(1.2);
    transition: transform ease-in 0.2s;
}

.icon-bg-width:first-child {
    margin-left: 0px;
}

.fixed_item {
    position: absolute;
    top: 100vh;
    left: 34vw;
}