.discoverMe-container{
    padding: 100px 0;
}

.discoverMe-container h2{
    color: #333333;
    font-size: 36px;
    line-height: 40px;
    margin: 0 0 15px;
    text-align: center;
    font-weight: bolder;

}