.header{
    background-color: #002147;
}

.header p{
    color: #a3adb9;
    padding: 0 14px;
    line-height: 30px;
    border-right: 1px solid #0e3664;
    font-size: 12px;
    margin-bottom: 0px;
}

.header-container{
    display: flex;
    justify-content: space-between;
}

.top-left{
    display: flex;
}

/* sign in button  */
button{
    border: none;
    background-color: transparent;
    color: #a3adb9;
    padding: 5px 14px;
    line-height: 30px;
    border: 1px solid gray;
    font-size: 12px!important;
    margin-bottom: 0px;
}

button:hover{
    background-color: #E66030;
    color: white;
}