.search-container{
    padding: 15px 0;
    width: 50%;
    margin: 0 auto;
}

.search-input{
    width: 75%;
    border: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 0 20px;
}
.search-input:focus{
    outline: none;
}

.search-button{
    font-size: 20px!important;
    width: 25%;
    border: none;
    background-color: #EE6737;
    color: white;
    padding: 10px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.search-button:hover{
    background-color: #eb5c29;
}